

body {
    font-family:'Jost', sans-serif;
    margin: 0;
    text-align: center;
}


h1 {
    font-family: 'Hind Vadodara', sans-serif;
    color: rgba(248, 216, 112, 0.836);
    font-size: 3.5rem;
    font-weight: 700;
    margin: 30px auto;
    text-shadow: 2px 2px 4px #000000;
}

@media only screen and (max-width: 62.5em) {
    h1 {font-family: 'Hind Vadodara', sans-serif;
        color: rgb(253, 245, 173);
        font-size: 2rem;
        font-weight: 700;
        margin: 30px auto;
        text-shadow: 2px 2px 4px #000000;}
}

h2 {
    color:darkslategray;
    font-size: 2.5rem;
    margin-bottom: 50px;

}

@media only screen and (max-width: 62.5em) {
    h2 {font-size: 1.8rem;}
}

h3 {
    color: #333;
    font-size: 2.5rem;
    margin: 50px;
}



h4 {
    font-size: 1.875rem;
    font-weight: 600;
    color: #333;
    margin: 50px;
}

@media only screen and (max-width: 62.5em) {
    h4 {font-size: 1.3rem; margin: 30px;}
}

hr {
    border: dotted rgb(252, 221, 122) 10px;
    border-bottom:none;
    width: 3%;   
}

@media only screen and (max-width: 62.5em) {
    hr {border: dotted rgb(252, 221, 122) 5px; border-bottom: none;}
}

p {
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.5;
    
}

@media only screen and (max-width: 62.5em) {
    p {font-size: 1rem;}
}

.menu {
    width: 100%;
}

.navcontainer {
    margin: 0 auto;
}

.menuitem {
    font-size: 1.25rem;
    padding-left: 20px;
    padding-right: 20px;
}



.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

  header {
    
    background-image: url("./images/advokaten-1.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    margin-bottom: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media only screen and (max-width: 62.5em) {
      header {background-image: url("./images/närbild.jpg");
    background-size:cover; }
    }

header a {
    color: white;;
    border: white solid;
    border-radius: 40px; 
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px;
    display: inline-block;
    margin-top: 100px;
}

@media only screen and (max-width: 62.5em) {
    header a {display: none;}
}

a:hover {
    color: #333;
    text-decoration: none;
}


.underrubrik {
    color: whitesmoke;
    font-family: 'Muli', sans-serif;
    margin-top: 100px;
    text-shadow: 2px 2px 4px #333;
}

@media only screen and (max-width: 62.5em) {
    .underrubrik {color: rgb(252, 221, 122); font-size: 1.5rem; text-shadow: 2px 2px 4px #000000}
}


.icons {
    display: flex; 
    justify-content: center;
    align-items: top;
    margin: 50px;    
}

@media only screen and (max-width: 62.5em) {
    .icons { display: inline-block;
        }
}


.icon {
   
    margin: 60px;
    width: 60%;
} 

@media only screen and (max-width: 62.5em) {
    .icon {margin: 80px auto;}
}

.icon img {
    margin: 20px;
    width: 40%;
}



#imagecontainer {
    position: relative;
    z-index: -1;
    
}

.images {
border-radius: 75px;
margin: 80px auto;
width: 80%;
}

@media only screen and (max-width: 62.5em) {
    .images {
        width: 100%;}
    }

.about-us {
    background-color: #dcdcdc;
    color: #333;

}

.pristext {
    margin: 50px auto;
    width: 70%;
}

.kontakt {
    background-color: #dcdcdc;
    color: #333;
    
}

.kontakttext {
    margin: 0 auto;
    width: 80%;
}

.instaikon {
    width: 8%;
}

@media only screen and (max-width: 62.5em) {
    .instaikon {
        width:20%;}
    }

#googleMap {
    margin: 100px auto;
    width: 80%; 
   
}

@media only screen and (max-width: 62.5em) {
    #googlemap {margin: 20px auto;}
}

footer {
    background-color: #333;
    color: rgba(255, 224, 121, 0.877);
}

#footercontainer {
    padding: 50px;
}
.reference {
    color: whitesmoke;
    font-size: 0.8rem;
    margin-top: 30px;
}

.referencelink {
    color: whitesmoke;
    font-size: 0.8rem; 
}

.logga {
   border-radius: 70px / 45px;
   margin: 20px auto 40px;
  }